/* Variables in body, making dark mode an option */
body {
  --rood: #ff0000;
  --wit: #ffffff;
  --zwart: #000000;
  --grijs: #969696;

  --navbar-stagger-delay: 0.07s;

  font-family: 'avenirroman';
}

/* 
TODO: Find a more reliable way to place bottom bubble, now using many seemingly random, very specific numbers
*/

/* Top side of header */
header>section:nth-of-type(1) {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--grijs);
  overflow: hidden;
  justify-content: space-between;
}

/* Bottom side of header */
header>section:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid var(--grijs);
  overflow: hidden;
  height: 3rem;
}

/* Containers for left and right side of header */
.header-region-container {
  display: flex;
  align-items: center;
}

/* Page title displayed in bottom side of header */
.page-title {
  margin-top: -3.6rem;
  margin-left: 0.7rem;
  width: 20%;
  transition: 0.5s ease;
  z-index: 2;
}

/* Header button wrapper class styling */
.header-btn {
  background: none;
  display: grid;
  justify-content: center;
  align-content: center;
  position: relative;
  border: none;
  padding: 0;
  height: 2rem;
  width: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 1rem;
}

/* Hover effect for header buttons */
.header-btn:hover {
  cursor: pointer;
}

/* Resize bubble when hovering button */
.header-btn:hover>#menu-bubble-top {
  height: 2.4rem;
  width: 2.4rem;
}

/* Icons have seperate elements because I am using Lottie Player to play the animation */
.menu-btn-icon {
  width: 100%;
  height: 100%;
  z-index: 2;
}

.search-btn-icon {
  width: 100%;
  height: 100%;
  z-index: 2;
}

/* 
  Wrapper class for the header bubbles for the nav animation 
*/
.bubble-top {
  border: 1px solid var(--grijs);
  display: block;
  border-radius: 15%;
  height: 2.5rem;
  width: 2.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 0.16rem));
  z-index: 0;
  transition: 0.5s ease; 
}

.bubble-lower {
  background-color: var(--rood);
  position: absolute;
  display: grid;
  justify-content: center;
  border-radius: 15%;
  left: 0.26rem;
  transform: translateY(-3.98rem);
  height: 2.5rem;
  width: 2.5rem;
  overflow: show;
  transition: 0.5s ease;
}

/* Container for the bottom bubble, required to get the correct layout */
.bubble-container-menu {
  /* border: 1px solid var(--grijs); */
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 2.5rem;
  width: 4rem;
}

/* Menu label */
.bubble-lower>p {
  margin-top: -0.2rem;
  margin-left: 3.1rem;
  font-size: 1.6rem;
  color: var(--rood);
}

/* Making the first letter stand out from the bubble */
.bubble-lower>p::first-letter {
  font-size: 1.9rem;
  color: var(--wit);
  margin-right: 0.4rem;
}

/* Logo */
header>section>div>img {
  height: 4rem;
}

/* Active states of the navbar elements, assigned by javascript */
.menu-active-top {
  transform: translate(-50%, calc(100% + 0.18rem)) !important;
}

.menu-active-lower {
  transform: translateY(0.25rem) !important;
}

.page-title-active {
  margin-top: 2.2rem;
}

.nav-item-active {
  margin-top: -1.3rem !important;
}

/* Nav container styling (parent of bubble and navbar) */
.nav-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background-color: var(--wit);
  z-index: 1;
  transition: 0.5s ease;
  position: relative;
}

/* Navbar styling */
.nav-container>nav>ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 4rem;
  width: 100%;
  list-style: none;
  align-content: flex-start;
}

/* Nav items styling */
.nav-container>nav>ul>li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 15vw;
  margin-top: -5rem;
  transition: 0.5s ease;
  /* font-family: 'avenirblack'; */
}

/* Styling for text inside nav items */
.nav-container>nav>ul>li>a {
  color: var(--zwart);
  font-size: 1rem;
}

/* Hover effect for nav items */
.nav-container>nav>ul>li>a:hover {
  color: var(--rood);
}

/* Creating a staggering effect for the nav items */
#nav-1 {
  transition-delay: calc(var(--navbar-stagger-delay));
}

#nav-2 {
  transition-delay: calc(var(--navbar-stagger-delay) * 2);
}

#nav-3 {
  transition-delay: calc(var(--navbar-stagger-delay) * 3);
}

#nav-4 {
  transition-delay: calc(var(--navbar-stagger-delay) * 4);
}